@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap');
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #151719;
  color: #FFF;
  overflow-x: hidden;
}

.wrap {
  position: relative;
}

.timeline-mobile {
  display: none;
}

.bg-circle__top {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  animation: opacity 4s ease infinite;
  z-index: 1;
}

.bg-circle__left {
  position: absolute;
  top: 8%;
  left: -15%;
  width: 50%;
  animation: opacity 4s ease infinite;
  z-index: 1;
  transform: rotate(90deg);
}

.bg-circle__left-middle {
  position: absolute;
  top: 65%;
  left: -20%;
  width: 60%;
  animation: opacity 4s ease infinite;
  z-index: 1;
  transform: rotate(270deg);
}

.bg-circle__right {
  position: absolute;
  top: 35%;
  right: -20%;
  width: 50%;
  animation: opacity 4s ease infinite;
  z-index: 1;
  transform: rotate(90deg);
}

.navbar {
  position: relative;
  padding-left: 7%;
  padding-right: 5%;
  padding-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

.navbar-menu, .navbar-jackpot {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-menu {
  flex-basis: 60%;
}

.navbar-menu__logo {
  width: 290px;
  padding-right: 39px;
}

.navbar-menu__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 70%;
}

.navbar-menu__links-item {
  color: white;
  font-size: 16px;
  font-weight: 400;
  flex-basis: 20%;
  cursor: pointer;
}

.navbar-menu__links-item a, .navbar-menu__links-item a:link, .navbar-menu__links-item a:visited{
  color: white;
}

.navbar-jackpot__item {
  width: 412px;
  height: 51px;
  border-radius: 20px;
  border: 1px solid #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(136deg, #675EFF 7.28%, #6DAEFF 40.46%, #FFBB54 100%, #FFC46B 100%);
}

.navbar-jackpot__item-mobile {
  display: none;
}

.navbar-jackpot__item span {
  font-weight: 700;
  font-size: 20px;
}

.navbar-jackpot__item-jackpot {
  padding-left: 20px;
  padding-right: 10px;
}

.navbar-jackpot__item-jackpot-img {
  width: 25px;
  height: 30px;
}

.navbar-jackpot__item-play {
  margin-left: 30px;
  width: 109px;
  border-radius: 20px;
  border: 1px solid #FFF;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  background-color: #FFF;
  color: #000;
}

.navbar-jackpot__item-play img{
  margin-right: 8px;
}

.navbar-jackpot__lang {
  width: 63px;
  height: 51px;
  border-radius: 20px;
  border: 2px solid #FFF;
  background-color: inherit;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  margin-left: 34px;
}

.body {
  padding-left: 10%;
  padding-right: 10%;
}

.header {
  padding-top: 138px;
  opacity: 0;
  animation: appearance 1.5s forwards;
  padding-bottom: 285px;
}

.header-title__wrap {
  display: flex;
  position: relative;
  justify-content: center;
}

.header-title__img {
  width: 187px;
  height: 187px;
  position: absolute;
  right: 0;
  top: -30%;
  /*transform: rotate(-27.656deg);*/
  /*flex-shrink: 0;*/
  /*background: url('img/bitcoin.png'), lightgray 50% / cover no-repeat;*/
}

.header-text {
  text-align: center;
  font-size: 68px;
  font-weight: 600;
  line-height: normal;
  padding-bottom: 119px;
  max-width: 1097px;
}

.header-jackpot__wrap {
  width: 100%;
  height: 222px;
  display: flex;
  justify-content: space-around;
  background-color: #2D2D54;
  border-radius: 500px;
}

.header-jackpot__eth {
  display: flex;
  align-items: center;
  position: relative;
}

.header-jackpot__eth-img {
  width: 150px;
  height: 150px;
}

.header-jackpot__eth-info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 70%;
}

.header-jackpot__eth-info > div:first-child, .header-jackpot__timer-info {
  font-size: 22px;
  font-weight: 700;
}

.header-jackpot__eth-info > div:last-child {
  margin: auto 0;
  font-size: 50px;
  font-weight: 700;
}

.header-jackpot__eth-info > div:last-child:after {
  content: "";
  background: #FFF;
  position: absolute;
  bottom: 30%;
  right: -80px;
  height: 30%;
  width: 1px;
}

.header-jackpot__timer-info:after {
  content: "";
  background: #FFF;
  position: absolute;
  bottom: 20%;
  right: -5%;
  height: 41%;
  width: 1px;
}

.header-jackpot__timer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 70%;
  margin: auto 0;
}

#countdown, #countdown-round {
  margin: auto 0;
}

#countdown ul, #countdown-round ul {
  display: flex;
}

.open-menu, .menu {
  display: none;
}

.nav-icon-5{
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: none;
}

#countdown li, #countdown-round li {
  display: flex;
  flex-direction: column;
  color: #FFF;
  font-size: 62px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 107px;
  text-align: center;
  margin-right: 10px;
  border-radius: 9px;
  background: #19193A;
}

.header-jackpot__play {
  display: flex;
  flex-direction: column;
  height: 70%;
  margin: auto 0;
}

.header-jackpot__play-header {
  font-size: 22px;
  font-weight: 600;
  padding-left: 20px;
}

.header-jackpot__play-btn {
  width: 423px;
  height: 81px;
  border-radius: 100px;
  background-color: #19193A;
  display: flex;
  align-items: center;
  margin: auto 0;
}

.header-jackpot__play-btn span {
  width: 40%;
  font-weight: 600;
  font-size: 22px;
  margin: 0 auto;
}

.header-jackpot__play-btn button {
  height: 100%;
  width: 127px;
  border-radius: 100px;
  background-image: linear-gradient(136deg, #675EFF 7.28%, #6DAEFF 40.46%, #FFBB54 100%, #FFC46B 100%);
  font-weight: 700;
  font-size: 28px;
  cursor: pointer;
  margin-left: auto;
}

.header-advantages__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
}

.header-advantages__item {
  display: flex;
  align-items: center;
}

.header-advantages__item-circle {
  border-radius: 24px;
  background: #98E18B;
  width: 24px;
  height: 23px;
  margin-right: 15px;
}

.header-advantages__item-text {
  font-weight: 400;
  font-size: 22px;
}

.whatis {
  /*padding-top: 285px;*/
  scroll-behavior: smooth;
}

.whatis-header {
  font-size: 56px;
  font-weight: 600;
  text-align: center;
}

.whatis-header__gradient {
  background: linear-gradient(180deg, #641BFF 0%, #559EBA 56.25%, #93FF61 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.whatis-main__wrap {
  border-radius: 20px;
  border: 1px solid rgba(198, 156, 196, 0.15);
  margin-top: 80px;
  position: relative;
  background-image: url('img/middle-left-bg.png');
  background-size: 40%;
  background-position: 92%;
  background-repeat: no-repeat;
  animation: gradient 4s ease infinite;
}

.animation-container {
  position: absolute;
  left: 70%;
  top: -10%;
}

.whatis-main__img {
  position: absolute;
  width: 128px;
  height: 128px;
  bottom: -20%;
  left: -2%;
}

.whatis-main__wrap-info {
  color: #FFF;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  max-width: 650px;
  padding: 85px 0 84px 57px;
}

.whatis-description__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 64px;
  background-image: url('img/middle-left-bg.png');
  /*background-size: 40%;*/
  background-position: left bottom;
  background-repeat: no-repeat;
  animation: gradient1 4s ease infinite;
}

.whatis-description__wrap-item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 39px 15px 39px 44px;
  border-radius: 20px;
  border: 1px solid rgba(198, 156, 196, 0.15);
  max-width: 23%;
  height: 386px;
}

/*.description__wrap-item_gradient {*/
/*  background-image: url('img/middle-left-bg.png');*/
/*  !*background-size: 100%;*!*/
/*  background-position: -50% bottom;*/
/*  background-repeat: no-repeat;*/
/*  animation: gradient1 4s ease infinite;*/
/*  background-clip: padding-box;*/
/*}*/


.whatis-description__item-header {
  font-size: 32px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  line-height: 44px;
  background-image: linear-gradient(136deg, #675EFF 7.28%, #6DAEFF 40.46%, #FFBB54 100%, #FFC46B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 45px;
}

.whatis-description__item-info {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 35px;
  width: 94%;
}

.platform {
  background-image: url('img/middle-left-bg.png');
  /*background-size: 40%;*/
  background-position: center 10%;
  background-repeat: no-repeat;
  animation: gradient2 4s ease infinite;
}

.platform-header {
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 163px 0;
  max-width: 70%;
  margin: 0 auto;
}

.platform-header__gradient {
  background: linear-gradient(180deg, #68C0FF 0%, #9D20FF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.platform-description__wrap {
  position: relative;
}

.platform-description__item {
  width: 60%;
  padding: 28px 79px 58px 54px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid rgba(198, 156, 196, 0.15);
  margin-bottom: 45px;
}

.platform-description__item-title {
  font-size: 32px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  background-image: linear-gradient(136deg, #675EFF 7.28%, #6DAEFF 40.46%, #FFBB54 100%, #FFC46B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 22px;
}

.platform-description__item-info {
  color: #FFF;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}

.platform-description__etherscan {
  position: absolute;
  z-index: 2;
  top: 3%;
  left: 55%;
  width: 898px;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.platform-description__etherscan-mobile {
  display: none;
}

.platform-description__img {
}

.platform-description__etherscan-btn {
  background: linear-gradient(136deg, #68C0FF 0%, #9D20FF 100%);
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 100px;
  padding: 13px 20px;
  cursor: pointer;
  z-index: 5;
  align-self: center;
  max-width: fit-content;
}

.platform-description__img-mobile {
  display: none;
}

.howto {
  position: relative;
}

.howto-bg {
  position: absolute;
  bottom: 0;
  animation: opacity 4s ease infinite;
  z-index: 1;
}

.howto-header {
  color: #FFF;
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
  max-width: 1097px;
  margin: 0 auto;
}

.howto-header__gradient {
  background: linear-gradient(180deg, #C3AEFF 0%, #4336EA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 200px;
  border: 3px solid #FFF;
  padding: 15px 20px;
}

.timeline {
  margin: 0 auto;
  display: grid;
  padding-top: 8px;
  grid-template-columns: 1fr 3px 1fr;
  color: #ffffff;
}

.timeline__component {
  margin: 0 40px 20px 40px;
}

.timeline__middle {
  position: relative;
  background: #ffffff;
}

.timeline__point {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 45px;
  height: 45px;
  border: 3px solid #FFF;
  border-radius: 50%;
  background: #16181B;
  z-index: 2;
  transition: background 1s ease-out;
  /*transition-delay: 2s;*/
}

.timeline__point-animation {
  background: #6357FD;
  transition: background 0.5s linear;
  box-shadow: 0 0 10px 3px #8178F7;
}

.timeline__paragraph {
  border-radius: 20px;
  border: 1px solid rgba(198, 156, 196, 0.15);
  padding: 57px 49px 75px 41px;
  max-width: 596px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.timeline__paragraph a, .timeline__paragraph a:link, .timeline__paragraph a:visited {
  text-decoration: underline;
  color: white;
}

.timeline__paragraph-participate {
  padding-top: 11px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.timeline__paragraph-participate span {
  color: #637CFF;
}

.timeline__paragraph-participate_icon {
  width: 37px;
  height: 37px;
}

.players {
  padding-top: 200px;
}

.round-wrap {
  padding: 68px 109px 84px 147px;
  border-radius: 60px;
  background: #2D2D54;
}

.round-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 101px;
}

.round-header__title {
  color: #FFF;
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.round-info {
  display: flex;
  justify-content: space-between;
}

.round-timer__info {
  color: #FFF;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding-bottom: 21px;
}

.round-info__item-round {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
}

.round-info__item-title {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.round-info__item-round_number {
  padding: 30px 80px 23px 48px;
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  border-radius: 100px;
  background: #19193A;
}

.round-info__item-jackpot {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
}

.round-info__item-jackpot-info {
  position: relative;
  padding: 9px 30px 6px 80px;
  border-radius: 100px;
  background: #19193A;
  /*display: flex;*/
  /*justify-content: space-between;*/
}

.round-info__item-jackpot-info span{
  color: #FFF;
  text-align: center;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  z-index: 2;
}

.round-info__animation {
  position: absolute;
  bottom: -30%;
  left: -10%;
  max-width: 120px;
}
/*.round-info__item-jackpot-info img {*/
/*  position: absolute;*/
/*  top: -12%;*/
/*  left: -10%;*/
/*  height: 100px;*/
/*  width: 100px;*/
/*}*/

.round-info__item-winner {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  align-items: center;
}

.round-info__item-winner_info {
  width: 535px;
  height: 81px;
  border-radius: 100px;
  background-color: #19193A;
  display: flex;
  align-items: center;
  margin: auto 0;
}

.round-info__item-winner_info span {
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0 auto;
}

.round-info__item-winner_info button {
  height: 100%;
  width: 169px;
  border-radius: 100px;
  background-image: linear-gradient(136deg, #675EFF 7.28%, #6DAEFF 40.46%, #FFBB54 100%, #FFC46B 100%);
  font-weight: 700;
  font-size: 28px;
  margin-left: auto;
  cursor: pointer;
  transition: background-image 3s ease-in;
}

.players-wrap {
  height: 1155px;
  border-radius: 60px;
  background: #2D2D54;
  margin-top: 76px;
  table-layout: fixed;
}

.players-table__body::-webkit-scrollbar {
  width: 13px;
}

.players-table__body::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #3F357B 0%, #3237A0 18.23%, #1B1B31 60%);
  border-radius: 500px;
}

.players-table__body::-webkit-scrollbar-thumb {
  border-radius: 500px;
  background: linear-gradient(180deg, #9B8BFF 0%, #3237A0 48.96%, #6464EC 100%);
  min-height: 13px;
}

.players-table {
  margin: auto;
  padding: 49px 119px 0 75px;
}

.players-table__body {
  margin: 0 75px;
  padding-right: 31px;
  overflow-y: scroll;
  height: 76%;
}

.players-table li {
  display: flex;
  padding: 33px 0;
}

.col-2 {
  width: 56%;
}

.col-1 {
  width: 9%;
}

.col-3 {
  width: 19%;
}

.col-4 {
  width: 16%;
}

.players-table__header-item, .players-table__body-item {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.players-table__body-row {
  border-radius: 500px;
  margin-bottom: 8px;
  background: #1B1B31;
  display: flex;
  padding: 30px 0;
}

.players-table__body-item {
  margin-bottom: 8px;
}

.players-table__footer-pagination-wrap {
  display: flex;
}
.players-table__rank {
  text-align: center;
}

.first-row {
  background: linear-gradient(90deg, #6867FF 0%, #6DA2FF 15.10%, #C2B69C 30.77%, #747181 41.94%, #19193A 74.32%, #19193A 80%);
}

.second-row {
  background: linear-gradient(90deg, #7B69E9 0%, #5A7FFF 18.23%, #1B1B31 50%);
}

.third-row {
  background: linear-gradient(90deg, #3F357B 0%, #3237A0 18.23%, #1B1B31 40%);
}

.players-table__footer {
  padding: 40px 75px 0 75px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.players-table__footer-title {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  margin-right: 37px;
}

.players-table__footer-pagination {
  border-radius: 53px;
  border: 2px solid #FFF;
  color: #fff;
  width: 53px;
  height: 53px;
  background-color: inherit;
  margin-right: 10px;
}

.deduction {
  padding-top: 203px;
  position: relative;
}

.deduction-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  animation: opacity 4s ease infinite;
  z-index: 1;
  /*transform: rotate(180deg);*/
}

.deduction-title {
  color: #FFF;
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 64px;
}

.deduction-content__wrap {
  border-radius: 20px;
  border: 1px solid rgba(198, 156, 196, 0.15);
  background: linear-gradient(180deg, rgba(20, 22, 25, 0.10) 0%, rgba(27, 27, 30, 0.10) 100%);
  backdrop-filter: blur(15px);
  padding: 62px 52px 62px 70px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.deduction-content__wrap ul li {
  list-style: circle;
  font-size: 22px;
  margin-left: 20px;
}

.deduction-img__wrap {
  display: flex;
  justify-content: center;
  position: relative;
}
.deduction-img {
  max-width: 210px;
  max-height: 210px;
}

.contact {
  padding-top: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 135px;
  background-image: url('img/middle-left-bg.png');
  /*background-size: 40%;*/
  background-position: center 10%;
  background-repeat: no-repeat;
  animation: gradient2 4s ease infinite;
}

.contact-header {
  color: #FFF;
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  padding-bottom: 60px;
}

.contact-info {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
  margin: 0 auto;
}

.contact-info a, .contact-info a:link, .contact-info a:visited {
  color: #FFF;
  text-decoration: underline;
}

.contact-btn {
  border-radius: 100px;
  /*background-image: linear-gradient(136deg, #675EFF 0%, #6DAEFF 41.15%, #FFBB54 100%, #FFC46B 100%);*/
  color: #FFF;
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  padding: 26px 41px 26px 42px;
  max-width: 400px;
  /*transition: background-image 4s linear;*/
}

.footer-divider {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.footer-content {
  padding: 82px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content__social {
  display: flex;
  align-self: center;
}

.footer-content__social img {
  width: 33px;
  height: 30px;
  margin-right: 20px;
}

.footer-content__logo {
  width: 290px;
}

.footer-content__social span {
  padding-right: 21px;
}

.qr-block {
  margin: 0 auto 0 auto;
  background-image: url("img/qr-bg.png");
  background-size: contain;
  max-width: 903px;
  padding: 118px 0;
  position: relative;
}

.qr-wrap {
  height: 493px;
  width: 356px;
  border-radius: 39px;
  border: 2px solid #FFF;
  background: #2D2D55;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.qr-wrap img {
  width: 287px;
  height: 287px;
  margin-top: 29px;
}

.qr-wrap span {
  color: #FFF;
  text-align: center;
  font-size: 68px;
  font-style: normal;
  font-weight: 600;
  line-height: 100px;
}

.code-wrap {
  width: 471px;
  border-radius: 100px;
  border: 1px solid #000;
  background: #19193A;
  margin: 0 auto;
  height: 81px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 13%;
  left: 0;
  right: 0;
}

.code-copy{
  cursor: pointer;
  z-index: 5;
}

.code-number {
  padding-bottom: 10px;
}

.bg-circle__right {
  display: none;
}

.nav-mobile {
  display: none;
}

@keyframes appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes gradient {
  0%{
    background-size: 20%;
  }
  50%{
    background-size: 30%;
  }
  100%{
    background-size: 20%;
  }
}

@keyframes gradient1 {
  0%{
    background-size: 30%;
  }
  50%{
    background-size: 40%;
  }
  100%{
    background-size: 30%;
  }
}

@keyframes gradient2 {
  0%{
    background-size: 40%;
  }
  50%{
    background-size: 60%;
  }
  100%{
    background-size: 40%;
  }
}

@keyframes gradient3 {
  0%{
    background-size: 60%;
  }
  50%{
    background-size: 80%;
  }
  100%{
    background-size: 60%;
  }
}

@keyframes opacity{
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}

@keyframes opacity1{
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.btn {
  background-image: linear-gradient(136deg, #675EFF 0%, #6DAEFF 41.15%, #FFBB54 100%, #FFC46B 100%);
  z-index: 1;
  position: relative;
  border-radius: 100px;
}

.btn::before {
  position: absolute;
  border-radius: 100px;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(316deg, #675EFF 0%, #6DAEFF 41.15%, #FFBB54 100%, #FFC46B 100%);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.btn:hover::before {
  border-radius: 100px;
  opacity: 1;
}

@media screen and (max-width: 1700px) {
  .body {
    padding: 0 116px;
  }
  .platform-description__etherscan {
    width: 630px;
    height: 400px;
    top: 15%;
  }
  .bg-circle__right {
    right: -11%;
  }

  .footer-content {
    padding: 82px 150px;
  }

  .header-jackpot__eth-info > div:last-child:after {
    bottom: 30%;
    right: -20px;
    height: 28%;
  }

  .round-wrap {
    padding: 68px 57px 84px 41px;
  }

  .round-info__item-winner {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 1470px) {
  .round-info__item-jackpot-info span {
    font-size: 40px;
  }

  .round-info__item-jackpot-info {
    padding: 15px 30px 15px 80px;
  }
}

@media screen and (max-width: 1400px) {
  .players-table__header-item, .players-table__body-item {
    font-size: 16px;
    padding-right: 15px;
  }

  .players-table__body-row {
    padding: 20px 0;
  }

  .round-info__item-winner_info {
    width: 400px;
    height: 71px;
  }

  .round-info__item-winner_info span {
    font-size: 35px;
  }

  /*.round-info__item-jackpot-info span {*/
  /*  font-size: 46px;*/
  /*}*/

  .round-info__item-round_number {
    padding: 20px 80px 20px 48px;
  }
}

@media screen and (max-width: 1300px) {
  .navbar {
    padding: 16px 72px 0 72px;
  }

  .body {
    padding: 0 72px;
  }
  .navbar-menu__links {
    display: none;
  }

  .navbar-jackpot__item {
    height: 44px;
  }

  .navbar-menu__logo {
    width: 212px;
  }

  .navbar-jackpot__item-play {
    height: 44px;
  }

  .navbar-jackpot__lang {
    height: 44px;
  }

  .navbar-menu {
    flex-basis: 40%;
  }

  .nav-icon-5 {
    display: inline-block;
    margin-left: 30px;
  }

  .menu {
    display: none;
  }

  .open-menu {
    position: absolute;
    display: block;
    width: 100%;
    height: 292px;
    right: 0;
    top: 0;
    list-style-type: none;
    border-radius: 0 0 39px 39px;
    background: #E3E9FF;
  }

  .open-menu .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 74px 183px 124px 183px;
  }

  .nav-mobile__header__lang {
    color: #16181A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 63px;
    height: 44px;
    border-radius: 16px;
    background: #D3D3E5;
  }

  .nav-mobile__header-close {
    width: 44px;
    height: 44px;
    border-radius: 16px;
    background: #D3D3E5;
    padding: 13px;
    margin-left: 16px;
  }

  .nav-mobile__header {
    display: flex;
    justify-content: space-between;
    padding: 26px 72px 10px 72px;
  }

  .nav-mobile__header__logo {
    width: 256px;
  }

  .menu-item {
    color: #18191F;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    display: flex;
    align-items: center;
  }

  .menu-item a, .menu-item a:link, .menu-item a:visited {
    color: #18191F;
  }

  .menu-item img {
    padding: 9px;
    width: 46px;
    height: 46px;
  }

  .header-text {
    font-size: 36px;
    max-width: 600px;
  }

  .header-title__img {
    width: 130px;
    height: 130px;
  }

  #countdown li, #countdown-round li {
    width: 69px;
    font-size: 40px;
  }

  .header-jackpot__eth-info > div:first-child, .header-jackpot__timer-info, .header-jackpot__play-header {
    font-size: 18px;
  }

  .header-jackpot__eth-info > div:last-child {
    font-size: 32px;
  }

  .header-jackpot__play-btn {
    width: 212px;
    height: 50px;
  }

  .header-jackpot__play-btn button {
    width: 82px;
    font-size: 18px;
  }

  .header-jackpot__play-btn span {
    font-size: 14px;
  }

  .header-advantages__item-text {
    font-size: 15px;
  }

  .header-advantages__item-circle {
    width: 21px;
    height: 21px;
    border-radius: 21px;
  }

  .whatis {
    padding-top: 120px;
  }

  .whatis-header {
    font-size: 36px;
  }

  .whatis-main__wrap-info {
    font-size: 18px;
    max-width: 450px;
  }

  .whatis-description__item-header {
    font-size: 17px;
    line-height: normal;
  }

  .whatis-description__item-info {
    font-size: 14px;
    line-height: normal;
  }

  .whatis-description__wrap-item {
    padding: 28px 41px 53px 29px;
    height: 320px;
  }

  .platform-header {
    font-size: 36px;
    padding: 107px 0 28px 0;
  }

  .platform-description__img {
    display: none;
  }

  .platform-description__img-mobile {
    display: block;
    width: 522px;
    margin: 0 auto;
  }

  .platform-description__item-title {
    font-size: 17px;
    line-height: normal;
    max-width: 268px;
  }

  .platform-description__item-info {
    font-size: 14px;
    line-height: normal;
    max-width: 299px;
  }

  .platform-description__item {
    padding: 28px 54px 30px 54px;
    width: fit-content;
  }

  .platform-description__wrap-mobile {
    display: flex;
    justify-content: space-between;
    padding-top: 33px;
  }

  .platform-description__etherscan {
    display: none;
  }

  .platform-description__etherscan-mobile {
    display: block;
    background: linear-gradient(136deg, #68C0FF 0%, #9D20FF 100%);
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 13px 20px;
    cursor: pointer;
    z-index: 5;
    margin: 0 auto;
    max-width: fit-content;
  }

  .howto-header {
    font-size: 36px;
    line-height: normal;
    margin-top: 100px;
    border-radius: 200px;
    border: 3px solid #FFF;
    padding: 5px 46px 17px 53px;
    max-width: 580px;
  }

  .howto-header__gradient {
    border: none;
  }

  .timeline__paragraph {
    font-size: 14px;
    line-height: normal;
  }

  .qr-block {
    max-width: 540px;
    padding: 70px 0;
  }

  .qr-wrap {
    width: 208px;
    height: 290px;
  }

  .qr-wrap img {
    width: 168px;
    height: 168px;
  }

  .qr-wrap span {
    font-size: 36px;
    line-height: normal;
  }

  .code-wrap {
    width: 409px;
    height: 65px;
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    bottom: 10%;
  }

  .code-number {
    padding-bottom: 5px;
  }

  .players {
    padding-top: 180px;
  }

  .round-wrap {
    padding: 41px 48px 76px 40px;
  }

  .round-header__title {
    font-size: 36px;
    line-height: normal;
  }

  .round-info {
    flex-wrap: wrap;
  }

  .round-header {
    padding-bottom: 50px;
  }

  .round-info__item-round {
    flex-basis: 40%;
  }

  .round-info__item-jackpot {
    flex-basis: 50%;
  }

  .round-info__item-winner {
    flex-basis: 60%;
    margin: 0 auto;
    padding-top: 20px;
  }

  .round-info__item-jackpot-info span {
    font-size: 30px;
  }

  .round-info__animation {
    bottom: -50%;
    left: -20%;
  }

  .round-info__item-round_number {
    padding: 20px 40px 20px 40px;
  }

  .round-info__item-winner_info span {
    font-size: 26px;
  }

  .players-table li {
    padding: 20px 0;
  }

  .col-1 {
    flex-basis: 10%;
  }

  .col-2 {
    flex-basis: 54%;
  }

  .col-3 {
    flex-basis: 19%;
  }

  .players-table__footer-title {
    font-size: 14px;
  }

  .players-table__footer-pagination {
    width: 42px;
    height: 42px;
    border-radius: 42px;
  }

  .deduction {
    padding-top: 130px;
  }

  .deduction-title {
    font-size: 44px;
    line-height: normal;
  }

  .deduction-content__wrap, .deduction-content__wrap ul li {
    font-size: 14px;
    line-height: normal;
  }

  .deduction-img {
    width: 167px;
    height: 167px;
    top: 0;
  }

  .contact-header {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .contact-info {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 565px;
    padding-bottom: 68px;
  }
}

@media screen and (max-width: 912px) {
  .navbar {
    padding: 16px 57px 0 57px;
  }

  .body {
    padding: 0 57px;
  }

  .navbar-jackpot__item {
    width: 300px;
  }

  .navbar-jackpot__item span {
    font-size: 14px;
  }

  .navbar-jackpot__item-play {
    margin-left: 20px;
    width: 78px;
  }

  .navbar-jackpot__item img {
    width: 19px;
  }

  .navbar-jackpot__item-play img {
    width: 11px;
  }

  .header {
    padding-top: 83px;
  }

  .header-text {
    font-size: 30px;
    padding-bottom: 35px;
    max-width: 500px;
  }

  .header-title__img {
    width: 81px;
    height: 81px;
    top: -60%;
  }

  .header-jackpot__timer {
    order: 1;
    flex-basis: 70%;
    padding-top: 20px;
    height: fit-content;
  }

  .header-jackpot__eth, .header-jackpot__play {
    order: 2;
  }

  .header-jackpot__wrap {
    flex-wrap: wrap;
    border-radius: 50px;
    height: 255px;
  }

  .header-jackpot__timer-info:after {
    display: none;
  }

  .header-jackpot__eth-info > div:last-child:after {
    height: 40%;
  }

  .header-jackpot__eth-info > div:first-child, .header-jackpot__timer-info, .header-jackpot__play-header {
    font-size: 16px;
    padding-bottom: 5px;
  }

  .header-jackpot__timer-info {
    margin: 0 auto;
  }

  #countdown {
    margin: 0 auto;
  }

  #countdown li, #countdown-round li {
    width: 76px;
    font-size: 44px;
  }

  .header-jackpot__play {
    height: fit-content;
  }

  .header-jackpot__eth-info {
    height: fit-content;
  }

  .header-jackpot__play-btn {
    width: 250px;
  }

  .header-advantages__item-text {
    font-size: 12px;
  }

  .header-advantages__item-circle {
    width: 12px;
    height: 12px;
    border-radius: 12px;
  }

  .whatis {
    padding-top: 105px;
  }

  .whatis-header {
    font-size: 30px;
  }

  .whatis-main__wrap-info {
    font-size: 14px;
  }

  .whatis-description__wrap-item {
    padding: 13px 20px 30px 26px;
    height: 260px;
  }

  .whatis-description__item-info {
    font-size: 12px;
    width: 97%;
  }

  .platform-header {
    font-size: 30px;
    max-width: 90%;
  }

  .platform-description__item-info {
    font-size: 13px;
    max-width: 221px;
  }

  .platform-description__item {
    padding: 22px 17px 30px 54px;
    width: 302px;
  }

  .timeline__paragraph {
    padding: 40px 56px 55px 34px;
  }

  .timeline__component {
    margin: 0 30px 20px 30px;
  }

  .players {
    padding-top: 100px;
  }

  .round-header {
    flex-direction: column;
    align-items: start;
  }

  .round-timer {
    display: flex;
    align-items: center;
    padding-top: 38px;
  }

  .round-timer__info {
    font-size: 18px;
    line-height: normal;
    padding-bottom: 0;
  }

  .players-table {
    padding: 49px 15px 0 15px;
  }

  .players-table__body {
    margin: 0 15px;
    padding-right: 15px;
  }

  .players-table__header-item {
    font-size: 14px;
  }

  .players-table__body-item {
    font-size: 13px;
  }

  .players-table__body-row {
    padding: 10px 0;
  }

  .deduction-title {
    font-size: 30px;
    padding-bottom: 38px;
  }

  .deduction-content__wrap, .deduction-content__wrap ul li {
    font-size: 13px;
  }

  .deduction-content__wrap {
    padding: 46px 27px 45px 51px;
  }

  .deduction-img {
    width: 120px;
    height: 120px;
  }

  .contact-header {
    font-size: 40px;
    padding-bottom: 27px;
  }

  .contact-info {
    font-size: 30px;
  }

  .contact-btn {
    font-size: 30px;
  }

  .bg-circle__right {
    width: 70%;
    right: -20%;
  }

  .bg-circle__top {
    width: 70%;
  }

  .footer-content {
    padding: 18px 67px 27px 57px;
  }

  .nav-mobile__header__logo {
    width: 157px;
    height: 23px;
  }

  .open-menu {
    height: 238px;
  }

  .open-menu .menu {
    padding: 50px 100px 80px 100px;
  }
}

@media screen and (max-width: 540px) {
  .body {
    padding: 0;
  }

  .header {
    padding: 93px 24px 0 20px;
  }

  .navbar {
    padding: 19px 20px;
    align-items: start;
  }

  .navbar-menu {
    align-self: center;
  }

  .navbar-jackpot {
    flex-wrap: wrap;
    justify-content: right;
  }

  .header-jackpot__wrap {
    height: 320px;
  }

  .navbar-jackpot__item {
    display: none;
  }

  .navbar-jackpot__item-mobile {
    width: 300px;
    height: 36px;
    border-radius: 20px;
    border: 1px solid #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(136deg, #675EFF 7.28%, #6DAEFF 40.46%, #FFBB54 100%, #FFC46B 100%);
    margin: 0 auto;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 6;
  }

  .navbar-jackpot__item-play {
    width: 67px;
    height: 36px;
    margin-left: 0;
    font-size: 13px;
  }

  .navbar-jackpot__item-play img {
    margin-right: 3px;
  }

  .navbar-menu__logo {
    width: 138px;
    height: 21px;
    padding-right: 0;
  }

  .header-title__img {
    width: 75px;
    height: 75px;
    top: -45%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  #countdown li, #countdown-round li {
    width: 64px;
  }

  .header-jackpot__eth-info > div:last-child:after {
    display: none;
  }

  .header-jackpot__animation {
    width: 96px;
    height: 96px;
  }

  .header-advantages__wrap {
    padding-top: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-advantages__item-circle {
    display: none;
  }

  .header-advantages__item {
    padding-bottom: 8px;
  }

  .bg-circle__left {
    display: none;
  }

  .whatis {
    padding: 51px 20px 0 20px;
  }

  .whatis-header {
    font-size: 22px;
    padding-bottom: 180px;
    background-image: url("img/middle-left-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: gradient4 4s ease infinite;
  }

  .whatis-main__wrap {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none;
  }

  .animation-container {
    width: 156px;
    left: 0;
    right: 0;
    top: -95%;
    margin-left: auto;
    margin-right: auto;
  }

  .whatis-main__wrap-info {
    padding: 37px 42px 30px 25px;
  }

  .whatis-main__img {
    width: 89px;
    height: 89px;
    bottom: -30%;
  }

  .whatis-description__wrap {
    flex-wrap: wrap;
    width: 100%;
    animation: gradient3 4s ease infinite;
  }

  .whatis-description__wrap-item {
    max-width: 48%;
    margin-bottom: 10px;
    padding: 13px 5px 30px 26px;
  }

  .platform {
    padding: 0 20px;
    background-position: top;
  }

  .platform-header {
    padding: 35px 0;
    font-size: 18px;
    animation: gradient3 4s ease infinite;
  }

  .platform-description__wrap-mobile {
    flex-direction: column;
  }

  .platform-description__item {
    padding: 22px 17px 20px 54px;
    margin-bottom: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .platform-description__etherscan-mobile {
    font-size: 13px;
  }

  .howto {
    padding: 0 20px;
  }

  .howto-bg {
    width: 100%;
    bottom: 8%;
    /*animation: none;*/
    animation: opacity1 3s ease infinite;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .howto-header {
    font-size: 22px;
    margin-top: 41px;
  }

  .howto-header__gradient {
    padding: 0;
  }

  .timeline {
    display: none;
  }

  .timeline__paragraph {
    position: relative;
    padding: 32px 45px 45px 14px;
  }

  .timeline__point {
    left: 50%;
    top: -10%;
    width: 31px;
    height: 31px;
    border-radius: 31px;
  }

  .timeline__component {
    margin: 30px 0;
    position: relative;
  }

  .qr-block {
    background-repeat: no-repeat;
    background-clip: padding-box;
    background-size: 120% 100%;
    background-position: center;
    z-index: 5;
    position: relative;
  }

  .code-wrap {
    width: 315px;
    height: 73px;
    font-size: 12px;
  }

  .round-wrap {
    padding: 18px 33px 62px 33px;

  }

  .round-timer {
    flex-direction: column;
  }

  .round-header {
    align-items: center;
  }

  .round-timer__info {
    padding-bottom: 19px;
  }

  .round-info {
    justify-content: center;
  }

  .round-info__item-title {
    font-size: 18px;
    padding-bottom: 10px;
  }

  .round-info__item-round {
    padding-bottom: 30px;
  }

  .round-info__item-jackpot {
    flex-basis: auto;
  }

  .round-info__animation {
    width: 106px;
    height: 106px;
  }

  .round-info__item-winner {
    align-items: center;
  }

  .round-info__item-winner_info {
    width: 280px;
    position: relative;
    height: 67px;
  }

  .round-info__item-winner_info button {
    position: absolute;
    width: 130px;
    bottom: -130%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 67px;
  }

  .games-played {
    display: none;
  }

  .wallet-address {
    color: #FFF;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    word-break: break-all;
  }
  .col-1 {
    flex-basis: 20%;
  }

  .col-4 {
    flex-basis: 30%;
  }

  .col-2 {
    flex-basis: 50%;
  }

  .players-table__header-item {
    padding-right: 0;
  }

  .players-table__header {
    max-width: 322px;
  }

  .players-table__footer {
    flex-direction: column;
    align-items: start;
    padding: 12px 0 39px 20px;
  }

  .players-table__footer-pagination {
    width: 30px;
    height: 30px;
    border-radius: 30px;
  }

  .players-table__footer-title {
    padding-bottom: 20px;
  }

  .deduction {
    padding: 70px 20px 0 20px;
  }

  .deduction-content__wrap {
    padding: 30px 20px 30px 30px;
  }

  .contact {
    padding: 70px 20px 91px 20px;
    animation: gradient3 4s ease infinite;
  }

  .contact-header {
    font-size: 30px;
  }

  .contact-info {
    font-size: 22px;
  }

  .contact-btn {
    padding: 16px 30px;
  }

  .footer-content {
    padding: 27px 22px 27px 21px;
  }

  .footer-content__logo {
    width: 128px;
  }

  .open-menu {
    height: 380px;
  }

  .nav-mobile__header__logo {
    display: none;
  }

  .nav-mobile__header {
    padding: 26px 40px 20px 40px;
  }

  .nav-mobile__header div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .open-menu .menu {
    flex-direction: column;
    padding: 0 40px 20px 40px;
  }

  .menu-item {
    padding-bottom: 20px;
  }

  .timeline-mobile {
    display: block;
  }

  .bg-circle__right {
    display: block;
    right: -18%;
  }
}


